@charset "UTF-8";

.bg-tricolor {
  background: linear-gradient(
    75deg,
    rgba(3, 104, 182, 1) 20%,
    rgba(255, 254, 254, 1) 50%,
    rgba(214, 30, 87, 1) 80%
  );
}

.full-width {
  width: 100%;
  flex-shrink: 0;
}

.deplete-animation {
  animation: deplete 1.5s linear forwards;
}

.expand-animation {
  animation: deplete 1.5s linear reverse forwards;
}

@keyframes deplete {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0%;
    opacity: 0;
  }
}
